#
# pin constraints
#
NET PCI_Express_pci_exp_rxn[0] LOC = "P5";
NET PCI_Express_pci_exp_rxp[0] LOC = "P6";
NET PCI_Express_pci_exp_txn[0] LOC = "N3";
NET PCI_Express_pci_exp_txp[0] LOC = "N4";
#
# additional constraints
#
# (from CoreGen) No PULLUP

###############################################################################
#
# Placement Constraints
#
###############################################################################
NET PCIe_Diff_Clk_P LOC  = N8;
NET PCIe_Diff_Clk_N LOC  = N7;


#########################################
##           CHANNEL_0 DQ              ## - sodimm0_ch0
#########################################
NET "SSD_CH0_DQ[0]"    LOC = "AJ25"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "SSD_CH0_DQ[1]"    LOC = "AK25"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "SSD_CH0_DQ[2]"    LOC = "AK22"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "SSD_CH0_DQ[3]"    LOC = "AK23"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "SSD_CH0_DQ[4]"    LOC = "AJ23"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "SSD_CH0_DQ[5]"    LOC = "AJ24"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "SSD_CH0_DQ[6]"    LOC = "AH23"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "SSD_CH0_DQ[7]"    LOC = "AH24"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;

## CHANNEL_0 
## WAY_0
NET "SSD_CH0_CEN[0]"  LOC = "AA29"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_RB[0]"   LOC = "AC29"  | IOSTANDARD = LVCMOS18;
## WAY_1
NET "SSD_CH0_CEN[1]"  LOC = "AA27"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_RB[1]"   LOC = "AD29"  | IOSTANDARD = LVCMOS18;
## WAY_2
NET "SSD_CH0_CEN[2]"  LOC = "AA28"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_RB[2]"   LOC = "AA30"  | IOSTANDARD = LVCMOS18;
## WAY_3
NET "SSD_CH0_CEN[3]"  LOC = "AB25"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_RB[3]"   LOC = "AB29"  | IOSTANDARD = LVCMOS18;
## WAY_4
NET "SSD_CH0_CEN[4]"  LOC = "AC26"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_RB[4]"   LOC = "AB30"  | IOSTANDARD = LVCMOS18;
## WAY_5
NET "SSD_CH0_CEN[5]"  LOC = "AD26"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_RB[5]"   LOC = "Y26"   | IOSTANDARD = LVCMOS18;
## WAY_6
NET "SSD_CH0_CEN[6]"  LOC = "AD30"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_RB[6]"   LOC = "Y27"   | IOSTANDARD = LVCMOS18;
## WAY_7
NET "SSD_CH0_CEN[7]"  LOC = "AE30"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_RB[7]"   LOC = " Y28"  | IOSTANDARD = LVCMOS18;

## CHANNEL_0 SHARED
NET "SSD_CH0_CLE"    LOC = "AC24"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_ALE"    LOC = "AD24"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_CLK"    LOC = "AD23"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "SSD_CH0_WRN"    LOC = "AG24"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_WPN"    LOC = "AG22"  | IOSTANDARD = LVCMOS18;
NET "SSD_CH0_DQS"    LOC = "AJ21"  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
INST "sync_ch_ctl_bl16_0/sync_ch_ctl_bl16_0/IPIF_I/IODELAY_INST" IODELAY_GROUP = "SSD_CH0_IODELAY";
INST "sync_ch_ctl_bl16_0/sync_ch_ctl_bl16_0/IPIF_I/IDELAYCTRL_INST" IODELAY_GROUP = "SSD_CH0_IODELAY";
#########################################
##           CHANNEL_1 DQ              ## - sodimm0_ch1
#########################################
NET "SSD_CH1_DQ[0]"       LOC = "W21"    | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH1_DQ[1]"       LOC = "Y21"    | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH1_DQ[2]"       LOC = "AA24"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH1_DQ[3]"       LOC = "AB24"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH1_DQ[4]"       LOC = "AA22"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH1_DQ[5]"       LOC = "AA23"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH1_DQ[6]"       LOC = "AC22"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH1_DQ[7]"       LOC = "AC23"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH1_CLE"         LOC = "AC21"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_ALE"         LOC = "Y30"    | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_CEN[0]"      LOC = "AG21"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_CEN[1]"      LOC = "AH21"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_CEN[2]"      LOC = "AJ20"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_CEN[3]"      LOC = "AK20"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_CEN[4]"      LOC = "AK17"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_CEN[5]"      LOC = "AK18"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_CEN[6]"      LOC = "AH19"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_CEN[7]"      LOC = "AJ19"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_CLK"         LOC = "AF20"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH1_WRN"         LOC = "AF19"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_WPN"         LOC = "Y25"    | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_RB[0]"       LOC = "AF23"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_RB[1]"       LOC = "AF24"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_RB[2]"       LOC = "AD21"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_RB[3]"       LOC = "AE21"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_RB[4]"       LOC = "AE22"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_RB[5]"       LOC = "W23"    | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_RB[6]"       LOC = "AF22"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_RB[7]"       LOC = "AB21"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH1_DQS"         LOC = "Y22"    | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
INST "sync_ch_ctl_bl16_1/sync_ch_ctl_bl16_1/IPIF_I/IODELAY_INST" IODELAY_GROUP = "SSD_CH0_IODELAY";
#########################################
##           CHANNEL_2 DQ              ## sodimm0-ch2
#########################################
NET "SSD_CH2_DQ[0]"     LOC = "AJ30"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH2_DQ[1]"     LOC = "AK30"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH2_DQ[2]"     LOC = "AK27"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH2_DQ[3]"     LOC = "AK28"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH2_DQ[4]"     LOC = "AH26"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH2_DQ[5]"     LOC = "AH27"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH2_DQ[6]"     LOC = "AJ26"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH2_DQ[7]"     LOC = "AK26"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH2_CLE"       LOC = "AH28"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_ALE"       LOC = "AD25"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_CEN[0]"    LOC = "AE28"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_CEN[1]"    LOC = "AF28"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_CEN[2]"    LOC = "AF29"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_CEN[3]"    LOC = "AG29"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_CEN[4]"    LOC = "AF30"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_CEN[5]"    LOC = "AG30"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_CEN[6]"    LOC = "AG26"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_CEN[7]"    LOC = "AG27"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_CLK"       LOC = "AE27"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH2_WRN"       LOC = "AE25"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_WPN"       LOC = "AA25"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_RB[0]"     LOC = "V27"    | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_RB[1]"     LOC = "W28"    | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_RB[2]"     LOC = "U26"    | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_RB[3]"     LOC = "AE26"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_RB[4]"     LOC = "AB27"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_RB[5]"     LOC = "AC27"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_RB[6]"     LOC = "AC28"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_RB[7]"     LOC = "AD28"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH2_DQS"       LOC = "AJ28"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
INST "sync_ch_ctl_bl16_2/sync_ch_ctl_bl16_2/IPIF_I/IODELAY_INST" IODELAY_GROUP = "SSD_CH2_IODELAY";   
INST "sync_ch_ctl_bl16_2/sync_ch_ctl_bl16_2/IPIF_I/IDELAYCTRL_INST" IODELAY_GROUP = "SSD_CH2_IODELAY";
#########################################
##           CHANNEL_3 DQ              ## sodimm0-ch3
#########################################
NET "SSD_CH3_DQ[0]"       LOC = "P30"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH3_DQ[1]"       LOC = "R30"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH3_DQ[2]"       LOC = "T30"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH3_DQ[3]"       LOC = "U30"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH3_DQ[4]"       LOC = "N29"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH3_DQ[5]"       LOC = "P29"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH3_DQ[6]"       LOC = "T29"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH3_DQ[7]"       LOC = "U29"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH3_CLE"         LOC = "V28"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_ALE"         LOC = "V29"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_CEN[0]"      LOC = "N27"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_CEN[1]"      LOC = "P25"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_CEN[2]"      LOC = "P26"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_CEN[3]"      LOC = "T24"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_CEN[4]"      LOC = "T25"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_CEN[5]"      LOC = "P23"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_CEN[6]"      LOC = "P24"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_CEN[7]"      LOC = "P21"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_CLK"         LOC = "U25"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
NET "SSD_CH3_WRN"         LOC = "W25"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_WPN"         LOC = "W29"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_RB[0]"       LOC = "W30"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_RB[1]"       LOC = "R28"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_RB[2]"       LOC = "U27"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_RB[3]"       LOC = "R25"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_RB[4]"       LOC = "R26"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_RB[5]"       LOC = "R27"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_RB[6]"       LOC = "T27"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_RB[7]"       LOC = "N26"   | IOSTANDARD = "LVCMOS18";
NET "SSD_CH3_DQS"         LOC = "N28"   | IOSTANDARD = "LVCMOS18" | SLEW = FAST;
INST "sync_ch_ctl_bl16_3/sync_ch_ctl_bl16_3/IPIF_I/IODELAY_INST" IODELAY_GROUP = "SSD_CH3_IODELAY";   
INST "sync_ch_ctl_bl16_3/sync_ch_ctl_bl16_3/IPIF_I/IDELAYCTRL_INST" IODELAY_GROUP = "SSD_CH3_IODELAY";
